.main-wrapper {
    height: 100vh;
}

.section {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#timer {
    display: none;
}

.selecione-text {
    font-size: 2rem;
}

.btn-primary-outline {
    background-color: transparent;
    border-color: black;
}

#timer-text {
    font-size: 9rem;
}


/*DARK MODE*/

body {
    background-color: #212529;
    color: #a4b3bf;
}

.btn-primary-outline,
.dpt_modal-button,
.cursorily,
.dtp_modal-time-line {
    background-color: transparent;
    border-color: #a4b3bf;
    color: #a4b3bf;
}

.btn-primary-outline:hover,
.dpt_modal-button:hover,
.cursorily:hover {
    background-color: transparent;
    border-color: #6c757d;
    color: #6c757d;
}

.dtp_main,
.dtp_modal-content {
    background-color: #212529;
}


/* COLORS */

.red {
    color: red;
}